@model NotePro.Models.NoteList


@{

}

<h2>Notizen Verwalten</h2>

<a asp-action="NewNote" asp-controller="Note" class="btn btn-success btn-lg"><i class="icon-ok"></i>Neue Notiz erstellen</a>
<a asp-action="SortByFinishDate" asp-controller="Note" class="btn btn-success btn-lg"><i class="icon-ok"></i>Sortiere nach Erledigungsdatum</a>
<a asp-action="SortByCreateDate" asp-controller="Note" class="btn btn-success btn-lg"><i class="icon-ok"></i>Sortiere nach Erstelldatum</a>
<a asp-action="SortByImportance" asp-controller="Note" class="btn btn-success btn-lg"><i class="icon-ok"></i>Sortiere nach Wichtigkeit</a>
<a asp-action="ShowFinished" asp-controller="Note" class="btn btn-success btn-lg"><i class="icon-ok"></i>Zeige erledigte</a>

@foreach(var note in Model.GetList())
{
    <div>@note.DueDate @note.Title <a asp-action="Edit" asp-controller="Note" asp-route-id=@note.Id class="btn btn-success btn-lg"><i class="icon-ok"></i>Edit</a></div>
}

