<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <br /><br />
            <h1>
                NotePro - Never forget anymore
            </h1>
            <br /><br />
        </div>
    </div>

    <div class="container">

        <div class="row steps">
            <div class="col-md-3">
                <center><p><a asp-action="NewNote" asp-controller="Note" class="btn btn-success btn-lg"<i class="icon-ok"></i>Neue Notiz erstellen</a></p></center>
            </div>
            <div class="col-md-3">
                <center><p><a asp-action="ManageNotes" asp-controller="Note" class="btn btn-success btn-lg"><i class="icon-ok"></i>Notiz verwalten</a></p></center>
            </div>
            <div class="col-md-3">
                <center><p><a class="btn btn-success btn-lg" href="#"><i class="icon-ok"></i>Login</a></p></center>
            </div>
        </div>

    </div>
</div>
<div id="result"></div>