<!DOCTYPE html>

<html>
<head>
    @{Html.RenderPartial("_Header");}
</head>
<body>
    @{Html.RenderPartial("_NavigationBar");}

    <div class="container body-content">
        @RenderBody()
        @{Html.RenderPartial("_Footer");}
    </div>

    @{Html.RenderPartial("_Script");}
    @RenderSection("scripts", required: false)
</body>
</html>