@{
    ViewData["Title"] = "Fehler";
}

<h1 class="text-danger">Fehler</h1>
<h2 class="text-danger">
    Ein Fehler trat während der Verarbeitung auf.
    <br />Bitte wiederholen Sie die Aktion oder nehmen Sie Kontakt mit unserem Helpdesk auf.
</h2>